.App {
  height: 100vh;
}

.App div h1 {
  font-family: 'Open Sans', sans-serif;
  color: #353835;
  font-size: 30px;

  box-shadow: 0px 25px 38px -24px #797d7e;
  background-color: #3184f5;
}

.App-header {
  position: absolute;

  padding: 0em 1em;
  width: 60vw;

  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

}

@media screen and (max-width: 800px) {
  .App div h1 {
    font-size: 30px;
  }

  .App-header {
    padding: 0em 0em;
    width: 100vw;  
  }

  .App-title {
    padding: 0.1em 0em;    
  }
}