.floating-button {
    font-family: 'Open Sans', sans-serif;
    font-size: 80%;
    color: #797d7e;
    flex-wrap: wrap;
    align-content: center;

    border: none;

    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    width: 200px;
    height: 30px;

    background-color: #afd70b;
  }

.floating-button:hover {  
  color: #ffffff; 
}

btn{
  border: none;
}
  
.bottom-floating-button {
    bottom: 5%;
  }