.floating-button {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    width: 200px;

    background-color: aliceblue;
    opacity: 0.95;
  }

.top-floating-button {
    top: 100px;
  }
  
.bottom-floating-button {
    bottom: 50px;
  }

.middle-floating-button {
    bottom: 100px;
  }

.g-signin2 {
  bottom: 150px;
  width: 120px;
}

.g-signout2 {
  bottom: 100px;
  width: 120px;
}

.none{
  display: none;
}