.floating-button {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    width: 200px;

    background-color: aliceblue;
    opacity: 0.95;
  }

.top-floating-button {
    top: 100px;
  }
  
.bottom-floating-button {
    bottom: 50px;
  }

.middle-floating-button {
    bottom: 100px;
  }